<!DOCTYPE html>
<html>
    <head>
        <title>#1 Template Basic</title>
    </head>
    <body>
        <h1>Template basic</h1>
        <!-- This is a 1st comment in HTML -->
         {% comment %} This is a 2nd best comment in Django template {% endcomment %}
          {# This is af 3rd one line comment in Django template #}

        <p>This is where you can find the latest blog posts.</p>
        <p>welcome to the blog home page</p>

        
        <p>Name:{{name}} </p>
        <p>Age:{{age}} </p>

        {% comment %} List Access {% endcomment %}
        <p> First Skill :{{skills.0}} </p>
        <p> all skills: {{skills}}  </p>

        {% comment %} Obj Attribute {% endcomment %}

        <p>User Name: {{user.name}} </p>
        <p>User Age: {{user.age}} </p>

        {% comment %} Blog Information {% endcomment %}
        <h2>Blog Information</h2>
        <p>Title :{{blog.title}}</p>
        <p>Created At :{{blog.created_at}}</p>
        <p>Content :{{blog.content | safe}}</p>
        <p>Name :{{blog.author.name}} </p>

        {% comment %} Default value {% endcomment %}

        <p>Default empty value : {{empty_value|default:"No value provided"}} </p>
        <p>Default empty value : {{empty_value|default_if_none:"No Data"}} </p>


        


        
    </body>
</html>

